<!DOCTYPE html>
<html>
  <head>
    <title>Phillyunderground</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
  </head>

  <body>
  <div id="utility-nav" class="row">
    <div class="ten columns">
      <h1>Philadelphia Artists Underground</h1>
      <h3><em>Galleries for the virtually unknown....</em></h3>
    </div>
    <div id="user-buttons" class="two columns">
      <% if !current_user %>
        <%= link_to "Login", new_user_session_path, {class: 'util-button'} %>
        <%= link_to "Sign Up", new_user_registration_path, class: 'util-button' %>
      <% else %>
        <div id="signed_in">
          <a href='<%= edit_user_registration_path %>' >
          <div class="profile-photo" style='background-image: url(<%=current_user.profile_photo%>);'>
        </div>
          <%= "#{current_user.first_name}" %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'util-button' %>
        </div>
        </a>
      <% end %>
    </div>
      <p class="flash notice"> <%= notice %> </p>
      <p class="flash alert"> <%= alert %> </p>
  </div>
    <%= yield %>
  </body>
</html>
